<template name="postSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="viName">viName</label>
      <div class="controls">
          <input name="viName" id="viName" type="text" value="" placeholder="Your viname" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="enName">enName</label>
      <div class="controls">
          <input name="enName" id="enName" type="text" value="" placeholder="Name your enName" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>